<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h3>Home</h3>
<form  th:action="@{/login}" th:object="${login}" method="post">
    <fieldset>
        <legend>Login</legend>
        <table>
            <tr>
                <td>
                    <label>Account:</label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{account}"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password:</label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{password}"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login"/>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>